In [11]:
alphabet_data = []

lowercase = ascii_lowercase 
uppercase = ascii_uppercase

for i in range(0, len(lowercase)):
    alpha_row = {'lower': lowercase[i],
                'upper': uppercase[i],
                'index': i}
    alphabet_data.append(alpha_row)

In [12]:
alphabet_data

[{'lower': 'a', 'upper': 'A', 'index': 0},
 {'lower': 'b', 'upper': 'B', 'index': 1},
 {'lower': 'c', 'upper': 'C', 'index': 2},
 {'lower': 'd', 'upper': 'D', 'index': 3},
 {'lower': 'e', 'upper': 'E', 'index': 4},
 {'lower': 'f', 'upper': 'F', 'index': 5},
 {'lower': 'g', 'upper': 'G', 'index': 6},
 {'lower': 'h', 'upper': 'H', 'index': 7},
 {'lower': 'i', 'upper': 'I', 'index': 8},
 {'lower': 'j', 'upper': 'J', 'index': 9},
 {'lower': 'k', 'upper': 'K', 'index': 10},
 {'lower': 'l', 'upper': 'L', 'index': 11},
 {'lower': 'm', 'upper': 'M', 'index': 12},
 {'lower': 'n', 'upper': 'N', 'index': 13},
 {'lower': 'o', 'upper': 'O', 'index': 14},
 {'lower': 'p', 'upper': 'P', 'index': 15},
 {'lower': 'q', 'upper': 'Q', 'index': 16},
 {'lower': 'r', 'upper': 'R', 'index': 17},
 {'lower': 's', 'upper': 'S', 'index': 18},
 {'lower': 't', 'upper': 'T', 'index': 19},
 {'lower': 'u', 'upper': 'U', 'index': 20},
 {'lower': 'v', 'upper': 'V', 'index': 21},
 {'lower': 'w', 'upper': 'W', 'index': 22},
 {'lower': 'x', 'upper': 'X', 'index': 23},
 {'lower': 'y', 'upper': 'Y', 'index': 24},
 {'lower': 'z', 'upper': 'Z', 'index': 25}]

In [13]:
import pandas as pd
from string import (ascii_lowercase, ascii_uppercase)

alphabet_df = pd.DataFrame(alphabet_data)

In [14]:
alphabet_df

    index lower upper
0       0     a     A
1       1     b     B
2       2     c     C
3       3     d     D
4       4     e     E
5       5     f     F
6       6     g     G
7       7     h     H
8       8     i     I
9       9     j     J
10     10     k     K
11     11     l     L
12     12     m     M
13     13     n     N
14     14     o     O
15     15     p     P
16     16     q     Q
17     17     r     R
18     18     s     S
19     19     t     T
20     20     u     U
21     21     v     V
22     22     w     W
23     23     x     X
24     24     y     Y
25     25     z     Z